h1{
    font-family: verdana;
    color: #077e74;
    text-align: center;
    text-transform: capitalize;
}
p{
    font-family: verdana;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  div {
    border-radius: 5px;
    background-color: #B6D8F2;
    padding: 20px;
  }

  input[type=submit] {
    width: 100%;
    background-color: #ee92ba;
    font-size: 15px;
    color: rgb(7, 7, 7);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  img {
    float:none;
    margin-left: 25%;
    height: 75%;
    width:50%;
    
  }